*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 700px;

  background: linear-gradient(90deg, lightsalmon, lightcoral 30%);
  color: white;
}

header .col{
    flex: 1 1 50%;
}