$background-color-1: #ff5f69;
$background-color-2: #42b2ef;
$decoration-color: black;
$decoration-color-2: #B8FF5F;
$main-font-color: #0e9d9b;
$color-1: #B0857A;

$main-font: "Source Sans Pro", sans-serif;
