$background-color-1: #f6f6f6;
$background-color-2: #47b3b1;
$decoration-color: black;
$decoration-color-2: #B8FF5F;
$main-font-color: #0e9d9b;
$color-1: white;

$main-font: "Source Sans Pro", sans-serif;
