header{
  margin-bottom: 10px;
  background: url("../images/header/header-bg-3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;

  .header-wrapper {
    margin: 50px 0 40px 0;

    nav {
      ul {
        line-height: 60px;
        font-size: 30px;

        display: flex;
        justify-content: center;

        li {
          margin: 0 60px;

          a {
            position: relative;
            border-radius: 5px;
            color: white;
            padding: 5px;
            font-family: $main-font;
          }

          a:hover {
            color: white;
            text-decoration: none;
          }

          a::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background: white;
            transition: all 0.25s linear;
            bottom: 0;
            right: 50%;
          }

          a:hover::before {
            width: 50%;
          }

          a::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 0;
            background: white;
            transition: all 0.25s linear;
            bottom: 0;
            left: 50%;
          }

          a:hover::after {
            width: 50%;
          }
        }
      }
    }
  }

  .profile-img {
    height: auto;
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 140px;
    margin-top: 25px;

    border: solid white 5px;
  }

  .heading-font {
    font-family: $main-font;
    font-weight: 400;

    h1 {
      font-size: 72px;
      line-height: 60px;
      margin-bottom: 20px;
    }

    // h1::first-letter{
    //   font-size: 80px;
    //   color: $decoration-color;
    // }

    h3 {
      font-size: 32px;
      line-height: 32px;
    }
  }

  .header-col {
    padding: 0;
  }
}

.decoracion-rodrigo {
  color: $decoration-color;
}

.decoracion-rodrigo:hover {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: $decoration-color;
}


.decoracion-bo {
  font-weight: 600;
  color: $decoration-color-2;
}

.decoracion-it {
  font-style: italic;
}

.decoracion-sub {
  text-decoration: underline;
}