@import 'color-variables';
@import 'global-style';
@import 'header';
@import 'footer';
@import 'contact';

body {
  margin: 20px;
}
.section-profile{
  height: 600px;
  background-color: white;
}

.profile-col{
  color: $main-font-color;
}

.section-profile h2,
.section-profile p{
  text-align: justify;
  margin: 20px 0;
  font-size: 24px;
  font-family: 'Work Sans', sans-serif;
}

.estudios{
  padding-top: 100px;
  background-color: $background-color-1;
}
